@import '../../../../responsive.scss';
.container{
    display: grid;
    position: relative;
    grid-template-columns: 230px auto;

    .main-content{
      padding: 1rem;
    }

    // Scroll top buttom.
    .scrollTop {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 7rem;
        right: 3rem;
        z-index: 4;
        font-size: 1.8rem;
        border: none;
        outline: none;
        background-color: var(--success-color);
        color: var(--primary-text);
        cursor: pointer;
        padding: 1.5rem;
        border-radius: 0.4rem;
        opacity: 0;
        visibility: hidden;
        transition: all 0.8 ease;

        &.show{
          opacity: 1;
          visibility: visible;
        }

        &:hover {
          background-color: var(--card-color);
        }

        fa-icon{
          color: var(--primary-text);
        }
      }
      

    @include desktop-screen{
      grid-template-columns: 100px auto;
    }

    @include tablet-screen{
      width: 100%;
      grid-template-columns: 1fr;
    }
}