<div class="explore-container">
    <div class="explore-wrapper">
        <div class="left">
            <!-- <div class="left-one">
                <div class="img">
                    <img src="../../../assets/img/4.jpeg" alt="">
                </div>
            </div> -->
            <div class="left-two">
                <div class="upper">
                    <div class="img">
                        <img src="../../../assets/img/4.jpeg" class="img-style" alt="">
                    </div>
                </div>
                <div class="bottom">
                    <div class="img">
                        <img src="../../../assets/img/4.jpeg" class="img-style" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="middle-wrapper">
                <div class="upper">
                    <div class="img">
                        <img src="../../../assets/img/4.jpeg" class="img-style" alt="">
                    </div>
                </div>
                <div class="bottom">
                    <div class="img">
                        <img src="../../../assets/img/4.jpeg" class="img-style" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="right">            
            <!-- <div class="right-two">
                <div class="upper">
                    <div class="img">
                        <img src="../../../assets/img/4.jpeg" class="img-style" alt="">
                    </div>
                </div>
                <div class="bottom">
                    <div class="img">
                        <img src="../../../assets/img/4.jpeg" class="img-style" alt="">
                    </div>
                </div>
            </div> -->
            <div class="right-one">
                <div class="img">
                    <img src="../../../assets/img/4.jpeg" class="img-style-1" alt="">
                </div>
            </div>
        </div>
    </div>    
</div>
