<div class="dashboard-container">
    <div class="dashboard-wrapper">
        <!-- arindam paul -->
        <div class="list">
            <div class="wrapper">
                <div class="heading">
                    <p>Suggested for you</p>
                </div>
                <!-- If user id is same as the item it means the user is logged in user so its can not be display -->
                <div class="list-body" *ngFor="let item of responseData" [style.display]="userId == item.id ? 'none' : 'flex'">
                    <div class="left">
                        <div class="img">
                            <!-- If picture object has url so print url other whise make url -->
                            <img [src]=" (item.picture.slice(0, 4) == 'http') ? item.picture : url + 'profileImg/' + item.picture " />
                        </div>
                        <div class="desc">
                            <h4>{{item.username ? item.username : item.displayname}}</h4>
                            <h5>{{item.firstname}} {{item.lastname}}</h5>
                            <h6>Suggested for you</h6>
                        </div>
                    </div>
                    <div class="right">
                        <div class="btn" (click)="userFollow(userId, item.id)">
                            <!-- <button *ngFor="let follwos of followedTo">{{(item.id == follwos.followedTo) ? 'Followed' : 'Follow'}}</button> -->
                            <!-- <button  *ngIf="isFollowed(item.id); else notFollowed">Followed</button>-->
                            <button>{{ isFollowed(item.id) ? 'Followed' : 'Follow' }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>