@import '../../../responsive.scss';
.shorts-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  .wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    .short {
      height: 100%;
      width: 40%;
      scroll-snap-align: start;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .action{
      position: relative;
      .icon{
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        text-align: center;
        gap: 2.5rem;
        cursor: pointer;
        
        fa-icon{
          font-size: 2.5rem;
          font-weight: 500;
          color: var(--primary-text);
        }

        p{
          font-size: 1.3em;
          font-family: var(--nunito);
          font-weight: 700;
          color: var(--primary-text);
        }

        .profile-dp{
          img{
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 0.5rem;
            object-fit: cover;
          }
        }

        .heart,.comment,.bookmark,.ellipsis{
          fa-icon{
            &:hover{
              color: var(--secondary-text);
            }
          }
        }

        .red{color: rgb(255, 34, 0);}
        
        .comment{
          position: relative;
          .menu{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            bottom: 0;
            z-index: 2;
            transition: all 0.5s;
            background-color: var(--card-bg);
            box-shadow: var(--box-shadow-1);
            padding: 1rem 1.5rem;
            width: 27rem;
            height: 35rem;
            border-radius: 2rem;
            overflow: hidden;
            .menu-item{
              .heading{
                padding: 1rem 0;
                p{
                  font-size: 1.5em;
                  font-family: var(--nunito);
                  font-weight: 700;
                  color: var(--primary-text);
                }

                @include laptop-screen{
                  font-size: 1rem;
                }
              }
              .comment-wrapper{
                height: 24rem;
                width: 100%;
                overflow-y: scroll;

                /* width */
                &::-webkit-scrollbar {
                  width: 1px;
                }
              }

              .comment-write{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                gap: 1rem;
                padding: 0.3rem 1rem;
                border: 1px solid var(--line);
                border-radius: 5rem;
                margin-top: 1rem;
                .prf-img{
                  .dp-img{
                    height: 3rem;
                    width: 3rem;
                    border-radius: 100%;
                    object-fit: cover;
                  }
                }
                
                input{
                  width: 100%;
                  font-size: 1.3rem;
                  font-family: var(--nunito);
                  color: var(--primary-text);
                }

                .icon{
                  fa-icon{                                
                    font-size: 2rem;
                    color: rgb(150 147 147);
                  }
                }
              }
            }
            @include laptop-screen{
              width: 35rem;
              // height: 40rem;
            }            
          }
          
          &:hover>.menu{
            opacity: 1;
            visibility: visible;
            color: var(--secondary-text);            
            @include laptop-screen{
              right: 0rem;
              bottom: 0;
            }
            @include tablet-screen{              
              right: 0rem;
              bottom: -10rem;
            }
          }
        }
        @include tablet-screen{
          height: 75%;
        }
      }
    }
  }
}